/*-----------------------*/
/* Template default css
/*-----------------------*/

:root {
  --white-color: #fff;
  --black-color: #000;
  --yellow-color: #ffde29;
}

html,
body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #110d0d;
  margin: 0;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  list-style: none;
}

p {
  font-size: 18px;
  color: #110d0d;
  line-height: 1.8;
}

/*=== Preloader ===*/

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: var(--white-color);
  transition: opacity 0.5s ease;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid var(--black-color);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*=== Custom Scrollbar ===*/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 grey;
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/*-----------------------*/
/* Header section css
/*-----------------------*/

.header-section {
  position: fixed;
  padding: 10px 0 5px 0;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 99999;
}

.header-section.scrolled {
  background-color: var(--white-color);
}

#nav-menu ul li a {
  color: var(--black-color);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3px;
  z-index: 999;
}

#nav-menu ul li a:hover,
.active {
  font-weight: bold;
  line-height: 1.5;
  text-decoration: underline;
}

#nav-menu {
  transition: 0.3s ease-in;
}

.site-logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--black-color);
  text-decoration: none;
}

.site-logo:hover {
  text-decoration: none;
  color: var(--black-color);
}

@media only screen and (max-width: 768px) {
  .header-section {
    position: fixed;
    padding: 8px 0 4px 0;
    width: 100%;
    background: var(--yellow-color);
  }
  .nav-item {
    text-align: center;
    scroll-behavior: smooth;
  }
  #nav-menu ul li a {
    color: var(--white-color);
  }
  .navbar-nav {
    background: var(--black-color);
  }
}

/*-----------------------*/
/* Intro section css
/*-----------------------*/

.intro-section {
  padding: 20vh 0;
  background: var(--yellow-color);
  height: 100vh;
}

.row.bio {
  position: relative;
  z-index: 200;
  height: 60vh;
}

.section-text {
  padding-top: 10rem;
}

.banner-content::before {
  position: absolute;
  top: 67%;
  left: -110px;
  content: '';
  background-image: url(images/paper-shape.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50%;
  height: 70%;
  z-index: -1;
}

.section-text h1 {
  font-size: 50px;
  border-radius: 2rem;
  color: var(--white-color);
  font-family: 'Playfair Display', serif;
  transform: rotate(-5deg);
}

.section-text h1 span {
  font-weight: bold;
}

.section-text h3 {
  font-family: 'Playfair Display', serif;
  transform: rotate(-5deg);
}

.svg-image {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 10px;
  top: 0;
}
/* Media Query Intro Section*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .intro-section {
    padding: 5vh 0;
    min-height: 100%;
  }
  .section-title {
    margin: auto;
    text-align: center;
    color: #000;
  }
  .section-text h1 {
    font-size: 40px;
    font-weight: bold;
    transform: none;
    color: #000;
  }
  .section-text h3 {
    transform: none;
  }
  .section-text h4 {
    font-size: 20px;
  }
  .svg-image {
    width: 350px;
    height: 300px;
    position: absolute;
    right: 32%;
    top: 330px;
  }
  .banner-content::before {
    content: '';
    background: none;
  }
}

@media only screen and (min-width: 720px) and (max-width: 768px) {
  .intro-section {
    padding: 6vh 0;
    min-height: 100%;
  }
  .section-title {
    margin: auto;
    text-align: center;
    color: #000;
  }
  .svg-image {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 20%;
    top: 20rem;
  }
  .section-text h1 {
    word-wrap: break-word;
    color: #000;
    max-width: 85vw;
    transform: none;
  }
  .section-text h3 {
    transform: none;
  }
  .banner-content::before {
    content: '';
    background: none;
  }
}

@media only screen and (max-width: 768px) and (max-height: 800px) {
  .section-title {
    margin: auto;
    text-align: center;
    color: #000;
  }
  .intro-section {
    padding: 0.5vh 0;
    min-height: 100%;
  }
  .svg-image {
    width: 180px;
    height: 180px;
    position: absolute;
    right: 25%;
    top: 20rem;
  }
  .section-text h1 {
    word-wrap: break-word;
    color: #000;
    font-size: 40px;
    max-width: 85vw;
    transform: none;
  }
  .section-text h3 {
    transform: none;
  }
  .banner-content::before {
    content: '';
    background: none;
  }
}

@media only screen and (min-width: 400px) and (max-width: 768px) and (min-height: 812px) and (max-height: 900px) {
  .section-title {
    margin: auto;
    text-align: center;
    color: #000;
  }
  .intro-section {
    padding: 3vh 0;
    min-height: 100%;
  }
  .svg-image {
    width: 220px;
    height: 220px;
    position: absolute;
    right: 25%;
    top: 20rem;
  }
  .section-text h1 {
    word-wrap: break-word;
    color: #000;
    font-size: 40px;
    max-width: auto;
    transform: none;
  }
  .section-text h3 {
    transform: none;
  }
  .banner-content::before {
    content: '';
    background: none;
  }
}

@media only screen and (max-width: 400px) and (max-height: 812px) {
  .section-title {
    margin: auto;
    text-align: center;
    color: #000;
  }
  .intro-section {
    padding: 1vh 0;
    min-height: 100%;
  }
  .svg-image {
    width: 180px;
    height: 180px;
    position: absolute;
    right: 25%;
    top: 20rem;
  }
  .section-text h1 {
    word-wrap: break-word;
    color: #000;
    font-size: 35px;
    max-width: auto;
    transform: none;
  }
  .section-text h3 {
    transform: none;
  }
  .banner-content::before {
    content: '';
    background: none;
  }
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--black-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 100;
}

/*-----------------------*/
/* About section css
/*-----------------------*/

.about-section {
  padding: 100px 0 100px 0;
}

.myintro span {
  color: var(--yellow-color);
}

.about-text p {
  font-family: ;
}

/*-----------------------*/
/* Services section css
/*-----------------------*/

.services-section {
  padding: 100px 0 100px 0;
  background: var(--black-color);
}

.services-section h2,
h3 {
  color: var(--white-color);
}

.service img {
  width: 80px;
  height: 80px;
  background: var(--yellow-color);
  margin-bottom: 0.4rem;
}

.col.service-heading {
  margin-bottom: 5rem;
}

.col.service-heading h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  z-index: 99;
}

.back-text {
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  font-size: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  opacity: 0.05;
  z-index: 9;
}

.service div:hover img {
  background: var(--white-color);
}

@media only screen and (max-width: 768px) {
  .services-section {
    padding: 70px 0 70px 0;
  }
  .service div {
    padding: 0.5rem;
  }
  .service div:hover {
    transition: 0.3s;
  }
  .service-title {
    font-size: 20px;
  }
  .back-text {
    top: -45px;
    font-size: 70px;
  }
  .col.service-heading {
    margin-bottom: 1.5rem;
  }
  .col.service-heading h2 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .col.service-heading h2 {
    font-size: 40px;
  }
  .back-text {
    top: -60px;
    font-size: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .col.service-heading {
    margin-bottom: 3rem;
  }
  .col.service-heading h2 {
    font-size: 30px;
  }
  .back-text {
    top: -50px;
    font-size: 80px;
  }
}

/*-----------------------*/
/* Project section css
/*-----------------------*/

.portfolio-section {
  padding: 100px 0 100px 0;
  background: var(--yellow-color);
}

.col.portfolio-heading h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  z-index: 99;
}

.col.portfolio-heading p {
  margin-top: 3rem;
}

.back-text-yellow {
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  font-size: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-color);
  opacity: 0.04;
  z-index: 9;
}

.work-boxes {
  border: 1px solid var(--black-color);
}

.work-boxes:hover,
.work-boxes:hover h5 {
  background-color: var(--black-color);
  color: var(--white-color);
}

.work-title-border {
  height: 2px;
  width: 10px;
  color: var(--black-color);
}

.work-boxes-icon {
  color: rgb(212, 117, 117);
  font-size: 40px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .col.portfolio-heading h2 {
    font-size: 40px;
  }
  .back-text-yellow {
    top: -60px;
    font-size: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .col.portfolio-heading h2 {
    font-size: 30px;
  }
  .back-text-yellow {
    top: -50px;
    font-size: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .back-text-yellow {
    top: -45px;
    font-size: 70px;
  }
  .col.portfolio-heading {
    margin-bottom: 1.5rem;
  }
  .col.portfolio-heading h2 {
    font-size: 20px;
  }
}

/*-----------------------*/
/* Blog section css
/*-----------------------*/

.blog-section {
  background-color: var(--black-color);
  padding: 100px 0 100px 0;
}

.col.blog-heading h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  z-index: 99;
}

.col.blog-heading p {
  margin-top: 2rem;
}

.blog-section h2 {
  color: var(--white-color);
}

.blog-section a {
  color: var(--white-color);
  border-bottom: dotted 1px;
}

.blog-section a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .col.blog-heading h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .col.blog-heading h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .col.blog-heading {
    margin-bottom: 1.5rem;
  }
  .col.blog-heading h2 {
    font-size: 20px;
  }
}

/*-----------------------*/
/* Contact section css
/*-----------------------*/

.contact-section {
  background: var(--yellow-color);
  padding: 100px 0 100px 0;
}

.col.contact-heading h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  z-index: 99;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .col.contact-heading h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .col.contact-heading h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .contact-section {
    padding: 70px 0;
  }
  .col.contact-heading h2 {
    font-size: 20px;
  }
  .contact-details h5 {
    font-size: 15px;
  }
  .contact-details p {
    font-size: 13px;
  }
}

/*-----------------------*/
/* Footer section css
/*-----------------------*/

.footer-section {
  padding: 100px 0 100px 0;
  background: #000;
}

.social-links a {
  margin-right: 30px;
  color: #ffffff;
}

.social-links a:last-child {
  margin-right: 0;
}

.social-links a:hover {
  text-decoration: none;
  color: #fff;
}

.f-section-title,
.copyright {
  color: #ffffff;
}
