/*-----------------------*/
/* Template default css
/*-----------------------*/

html,
body {
  	height: 100%;
  	font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  	color: #110d0d;
  	margin: 0;
  	font-weight: 600;
  	font-family: "Josefin Sans", sans-serif;
}

li {
	list-style: none;
}

p {
  	font-size: 18px;
  	color: #110d0d;
  	line-height: 1.8;
}

.section-title {
  	font-size: 60px;
}

.section-title span {
  	color: #e1fc49;
}

/*=== Preloader ===*/


/*-----------------------*/
/* Header section css
/*-----------------------*/

.header-section {
	padding: 20px 0 5px 0;
	background: #001418;
	position: relative;
}

#nav-menu ul li a {
  	color: #ffffff;
  	font-size: 16px;
  	font-weight: bold;
	text-decoration: none;  
}

.nav-item a:hover {
	color: #ffffff;
}

.site-logo {
  	font-size: 30px;
  	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

.site-logo:hover {
	text-decoration: none;
	color: #ffffff;
}

/*-----------------------*/
/* Intro section css
/*-----------------------*/

.intro-section {
  	padding: 100px 0 100px 0;
	background: #001418;
}

.section-greeting,
.section-title {
  	color: #ffffff;
}

.resume {
	border-radius: 25px;
	border: 2px solid #ffffff;
	padding: 13px;
	color: #ffffff;
	font-size: large;
}

.resume:hover {
	background: #ffffff;
	color: #001418;
	text-decoration: none;
}

/*-----------------------*/
/* About section css
/*-----------------------*/

.about-section {
	  padding: 100px 0 100px 0;
}

.myintro span {
  	color: rgb(247, 175, 68);
}

/*-----------------------*/
/* Services section css
/*-----------------------*/

.services-section {
  	padding: 100px 0 100px 0;
}

.service img {
  	width: 80px;
  	height: 80px;
}

/*-----------------------*/
/* Blog section css
/*-----------------------*/

.blog-section {
  	padding: 100px 0 100px 0;
}

/*-----------------------*/
/* Contact section css
/*-----------------------*/

.contact-section {
  	padding: 100px 0 100px 0;
}

/*-----------------------*/
/* Footer section css
/*-----------------------*/

.footer-section {
  	padding: 100px 0 100px 0;
  	background: #001418;
}

.social-links a {
  	margin-right: 30px;
  	color: #ffffff;
}

.social-links a:last-child {
  	margin-right: 0;
}

.f-section-title,
.copyright {
  	color: #ffffff;
}

/*-----------------------*/
/* Responsive css
/*-----------------------*/
@media only screen and (min-width: 768px) and (max-width: 1448px) {
	.service div:hover {
		width: auto;
		height: auto;
		padding: 15px;
		box-shadow: 5px 5px 5px 5px grey;
		transition: 0.8s;
	}
}

@media only screen and (max-width: 768px) {
	
	.nav-item {
		text-align: center;
	}
	.navbar-nav {
		background: rgb(80, 89, 90);
	}
	.service div:hover {
		width: 100%;
		padding: 10px;
		box-shadow: 5px 5px 5px 5px grey;
		transition: 0.8s;
	}
}