/*-----------------------*/
/* Template default css
/*-----------------------*/

:root {
  --white-color: #fff;
  --black-color: #000;
  --yellow-color: #ffde29;
}

html,
body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #110d0d;
  margin: 0;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  list-style: none;
}

p {
  font-size: 18px;
  color: #110d0d;
  line-height: 1.8;
}

/*=== Preloader ===*/

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: var(--white-color);
  transition: opacity 0.5s ease;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid var(--black-color);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*=== Custom Scrollbar ===*/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 grey;
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/*-----------------------*/
/* Header section css
/*-----------------------*/

.header-section {
  position: fixed;
  padding: 10px 0 5px 0;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 99999;
}

.header-section.scrolled {
  background-color: var(--white-color);
}

#nav-menu ul li a {
  color: var(--black-color);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3px;
  z-index: 999;
}

#nav-menu ul li a:hover,
.active {
  font-weight: bold;
  line-height: 1.5;
  text-decoration: underline;
}

#nav-menu {
  transition: 0.5s ease-in;
}

.site-logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--black-color);
  text-decoration: none;
}

.site-logo:hover {
  text-decoration: none;
  color: var(--black-color);
}

@media only screen and (max-width: 768px) {
  .header-section {
    position: fixed;
    padding: 8px 0 4px 0;
    width: 100%;
    background: var(--white-color);
  }
  .nav-item {
    text-align: center;
    scroll-behavior: smooth;
  }
  .navbar-nav {
    background: var(--white-color);
  }
}

/*-----------------------*/
/* Intro section css
/*-----------------------*/

.intro-section {
  padding: 25vh 0;
  background: var(--yellow-color);
  height: 100vh;
}

.row.bio {
  position: relative;
  z-index: 200;
  height: 60vh;
}

.section-text {
  padding-top: 10rem;
}

.banner-content::before {
  position: absolute;
  top: 60%;
  left: -110px;
  content: '';
  background-image: url(images/paper-shape.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  z-index: -1;
}

.section-text h1 {
  font-size: 50px;
  padding: 0.5rem 0;
  border-radius: 2rem;
  color: var(--white-color);
  font-family: 'Playfair Display', serif;
}

.section-text h1 span {
  font-weight: bold;
}

.section-text h3 {
  font-family: 'Playfair Display', serif;
}

.svg-image {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 10px;
  top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .intro-section {
    padding: 5vh 0;
    min-height: 100%;
  }
  .section-title {
    margin: auto;
    text-align: center;
  }
  .section-text h1 {
    font-size: 30px;
  }
  .svg-image {
    width: 350px;
    height: 300px;
    position: absolute;
    right: 32%;
    top: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .intro-section {
    padding: 10vh 0;
    min-height: 100%;
  }
  .svg-image {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 20%;
    top: 50%;
  }
  .section-text h1 {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 85vw;
  }
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--black-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 100;
}

/*-----------------------*/
/* About section css
/*-----------------------*/

.about-section {
  padding: 100px 0 100px 0;
}

.myintro span {
  color: var(--yellow-color);
}

.about-text p {
  font-family: ;
}

/*-----------------------*/
/* Services section css
/*-----------------------*/

.services-section {
  padding: 100px 0 100px 0;
  background: var(--black-color);
}

.back-text {
  position: absolute;
}

.services-section h2,
h3 {
  color: var(--white-color);
}

.service img {
  width: 80px;
  height: 80px;
  background: var(--yellow-color);
}

@media only screen and (max-width: 768px) {
  .service div {
    padding: 1rem;
  }
  .service div:hover {
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    margin: 0 15px;
  }
  .service-title {
    font-size: 25px;
  }
}

/*-----------------------*/
/* Project section css
/*-----------------------*/

.portfolio-section {
  padding: 100px 0 100px 0;
  background: var(--yellow-color);
}

.work-boxes {
  border: 1px solid var(--black-color);
}

.work-boxes:hover,
.work-boxes:hover h5 {
  background-color: var(--black-color);
  color: var(--white-color);
}

.work-title-border {
  height: 2px;
  width: 10px;
  color: var(--black-color);
}

.work-boxes-icon {
  color: rgb(212, 117, 117);
  font-size: 40px;
}

/*-----------------------*/
/* Blog section css
/*-----------------------*/

.blog-section {
  background-color: var(--black-color);
  padding: 100px 0 100px 0;
}

.blog-section h2 {
  color: var(--white-color);
}

.blog-section a {
  color: var(--white-color);
  border-bottom: dotted 1px;
}

.blog-section a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
}

/*-----------------------*/
/* Contact section css
/*-----------------------*/

.contact-section {
  background: var(--yellow-color);
  padding: 100px 0 100px 0;
}

/*-----------------------*/
/* Footer section css
/*-----------------------*/

.footer-section {
  padding: 100px 0 100px 0;
  background: #000;
}

.social-links a {
  margin-right: 30px;
  color: #ffffff;
}

.social-links a:last-child {
  margin-right: 0;
}

.social-links a:hover {
  text-decoration: none;
  color: #fff;
}

.f-section-title,
.copyright {
  color: #ffffff;
}
